<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Enter how long will be your game Player!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row class="ion-justify-content-center" style="margin-top: 10%">
        <ion-col size-xs="5" size-md="2" class="ion-text-center">
          <ion-input type="number" [(ngModel)]="gameDuration" name="gameDuration"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <ion-button type="submit">
            <ion-icon name="play-outline"></ion-icon>
            START GAME
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
